[Unit]
Description=Service for triggering config changed on inotify

[Service]
ExecStart=/etc/systemd/system/inotify-config-change.sh
Restart=on-failure
TimeoutSec=300

[Install]
WantedBy=multi-user.target
