#!/bin/bash

# The script is copied into the charm and executed as a service
# shellcheck disable=SC2034
inotifywait -mr /etc/postfix --exclude /etc/postfix/header_checks --exclude /etc/postfix/main.cf --exclude /etc/postfix/master.cf --exclude /etc/postfix/smtp_header_checks --exclude /etc/postfix/tls_policy -e close_write -e create -e delete -e move --format '%w%f %e' | while read -r file event; do
    juju-exec {{unit_name}} JUJU_DISPATCH_PATH='hooks/config-changed' ./dispatch
done
