#{{JUJU_HEADER}}
smtpd_banner = $myhostname ESMTP $mail_name (Ubuntu)
biff = no

append_dot_mydomain = no

readme_directory = no

# See http://www.postfix.org/COMPATIBILITY_README.html -- default to 2 on
# fresh installs.
compatibility_level = 2

message_size_limit = 50000000
strict_rfc821_envelopes = yes
smtpd_helo_required = yes
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
mydestination = $myhostname, localhost.localdomain, localhost
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = all

{% if restrict_recipients -%}
smtpd_restriction_classes = restricted
restricted = check_recipient_access hash:/etc/postfix/restricted_recipients, reject
{% endif -%}

header_checks = regexp:/etc/postfix/header_checks
smtp_header_checks = regexp:/etc/postfix/smtp_header_checks

{%- if virtual_alias_domains %}
virtual_alias_domains = {{virtual_alias_domains}}
{%- endif %}
{%- if relay_domains %}
relay_domains = {{relay_domains}}
{% endif %}

transport_maps = hash:/etc/postfix/transport
virtual_alias_maps = {{virtual_alias_maps_type}}:/etc/postfix/virtual_alias
relay_recipient_maps = hash:/etc/postfix/relay_recipient
